<h1>映画一覧</h1>
<%= paginate @movies %>
  
    <% @movies.each do |movie| %>
        <%= f.label :タイトル %><br />
        <%= movie.review.title %>
      <p>ジャンル一覧が出るようにする</p>
      <p>画像を表示する</p>
      <p>レビュー数</p>
    <% end %>
  
  <%= link_to "投稿する",new_review_path, data: {"turbolinks" => false},class: "btn btn-success" %>
