<div class="text-center">
  <div class="container">
    <div class='mx-auto col-8 py-3'>
        <table>
          <tbody>
              <p>
                <strong>本当に退会しますか?</strong>
              </p>
              <p>
                退会すると登録した情報や<br>
                これまでのレビューが閲覧できなくなります。<br>
                退化する場合は、「退会する」をクリックしてください。
              </p>
                  <tr>
                  <%= link_to "退会しない",users_my_page_path,class: "btn btn-sm btn-primary" %>&emsp;&emsp;

                  <%= link_to "退会する", withdrawal_path,method: :patch, data: { confirm: "本当に退会されますか?"},class: "btn btn-danger" %>
                  </tr>
          </tbody>
         </table>
    </div>
  </div>
</div>