<div class="container">
  <div class="row">
    <div class='mx-auto col-5 col-sm-5 col-lg-8 col-xl-8'>
       <table class="table table-bordered table-condensed">
       <h1><i class="fas fa-exclamation-triangle">注意事項</i></h1>
       <p><strong>メールアドレスはGmailアドレスをご登録ください</strong></p>
       <p><strong>レビューの検索の際にネタバレを含んだ感想がある場合がございます。</strong></p>
       <p><strong>その点に気をつけてご利用ください。</strong></p>
       </table>
    </div>
  </div>
</div>