<div class="container">
  <div class="row">
    <div class='mx-auto col-5 col-sm-5 col-lg-8 col-xl-8'>
       <table class="table table-bordered table-condensed">
       <h1>注意事項</h1>
       <p><strong>レビューの検索の際にネタバレを含んだ感想がある場合がございます。</strong></p>
       </table>
    </div>
  </div>
</div>