<% if flash[:notice] %>
  <p id="notice">
  <%= flash[:notice] %>
  </p>
  <% end %>
<div class="container">
  <div class="row">
    <div class='mx-auto col-5 col-sm-5 col-lg-8 col-xl-8'>
      <h1><i class="fas fa-film"></i>映画レビューサイトへようこそ<i class="fas fa-film"></i></h1>
      <span class = "homes_top">
        <strong>本サイトでは映画のレビュー(感想)を自由に書くことができます。</strong><br>
        <strong>会員登録をすれば、自分と同じ感性を持った人に会えるかも。</strong><br>
        <strong>気になる人は<%= link_to "早速登録しよう。",new_user_registration_path %></strong><br>
        <strong>※会員登録前に必ず<%= link_to"「当サイトについての注意事項」",homes_about_path %>をご一読ください。</strong>
      </span>
    </div>
  </div>
</div>