
<h1><i class="fas fa-film"></i>映画レビューサイトへようこそ<i class="fas fa-film"></i></h1>
<p>本サイトでは映画のレビュー(感想)を自由に書くことができます。<br>
ネタバレが気になる方も、フィルターがあるので気にせずご覧になれます。<br>
会員登録をすれば、自分と同じ感性を持った人に会えるかも。<br>
気になる人は早速登録しよう
</p><br>