// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*トップ画面の文字設定*/
.homes_top{
  text-align:center;
  line-height:80px;
}

/*トップ画面・about画面の背景色*/
.homes_back{
  width: 100%;
  height: 900px;
  background-color: gold;
  animation: homes-back-change-color-anim 20s linear infinite;
}

/*背景が20秒間でgoldから#F3FFD8を*/
@keyframes homes-back-change-color-anim { 
  0%,100%{
    background-color: gold;
  }
  50%{
    background-color: #F3FFD8;
  }
}

/*about画面の設定*/
.homes_about{
  text-align:center;
  line-height:60px;
}