// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homes_top{
  text-align:center;
  line-height:60px;
}

.homes_about{
  text-align:center;
  line-height:60px;
}