// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*感情分析の点数*/
.sentiment-score{
  color: blue;
}
.normal-score{
  color: green;
}
.high-score{
  color: red;
}

/*show画面のタイトル・編集・消去箇所*/
.review_show{
  text-align:center;
}


/*ネタバレ*/
.spoiler_color{
  color: red;
}

/*review#indexの背景色*/
.review_container{
  width: 100%;
  height: 100%;
  background-color: #FFFFEE;
  animation: review-container-change-color-anim 50s linear infinite;
}
@keyframes review-container-change-color-anim {
	0%,100%{
		background-color: #FFFFEE;
	}
	20%{
		background-color: #EEFFFF;
	}
	40%{
		background-color: #DDFFFF;
 }
	60%{
		background-color: #FFFFDD	;
	}
	80%{
		background-color: #EEEEEE;
	}
}

/*review#editの背景*/
.review_container3{
  width: 100%;
  height: 800px;
  background-color: #FFFFEE;
  animation: review-container-change-color-anim 50s linear infinite;
}
@keyframes review-container-change-color-anim {
	0%,100%{
		background-color: #FFFFEE;
	}
	20%{
		background-color: #EEFFFF;
	}
	40%{
		background-color: #DDFFFF;
 }
	60%{
		background-color: #FFFFDD	;
	}
	80%{
		background-color: #EEEEEE;
	}
}

/*review#show*/
.review_container4{
  width: 100%;
  height: 800px;
  background-color: #FFFFEE;
  animation: review-container-change-color-anim 50s linear infinite;
}
@keyframes review-container-change-color-anim {
	0%,100%{
		background-color: #FFFFEE;
	}
	20%{
		background-color: #EEFFFF;
	}
	40%{
		background-color: #DDFFFF;
 }
	60%{
		background-color: #FFFFDD	;
	}
	80%{
		background-color: #EEEEEE;
	}
}

/*review#newの背景*/
.review_container2{
  width: 100%;
  height: 750px;
  background-color: #FFFFEE;
  animation: review-container-change-color-anim 50s linear infinite;
}
@keyframes review-container-change-color-anim {
	0%,100%{
		background-color: #FFFFEE;
	}
	20%{
		background-color: #EEFFFF;
	}
	40%{
		background-color: #DDFFFF;
 }
	60%{
		background-color: #FFFFDD	;
	}
	80%{
		background-color: #EEEEEE;
	}
}

/*一覧のkaminariのCSS*/
.pagenation{
	display: flex;
	justify-content:center;
	margin-bottom: -100px;
}

.search_area{
	margin-bottom: 100px;
}