// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sentiment-score{
  color: blue;
}
.normal-score{
  color: green;
}
.high-score{
  color: red;
}

#notice {
  color: green;
}

.spoiler_color{
  color: red;
}