// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_container{
  width: 100%;
  height: 1000px;
  background-color: #FFFFEE;
  animation: user-container-change-color-anim 50s linear infinite;
}
@keyframes user-container-change-color-anim {
	0%,100%{
		background-color: #FFFFEE;
	}
	20%{
		background-color: #EEFFFF;
	}
	40%{
		background-color: #DDFFFF;
 }
	60%{
		background-color: #FFFFDD	;
	}
	80%{
		background-color: #EEEEEE;
	}
}