<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のためのリンクを送付いたしました。下部のリンクからパスワードを変更してください.</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに心当たりがない場合は、無視して構いません。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
