  <% if review.liked_by?(current_user) %>
    <p>
    <%= link_to likes_path, method: :delete,class:"text-danger", remote: true do %>
      ♥<%= review.likes.count %>
    <% end %>
    </p>
    <% else %>
    <p>
    <%= link_to likes_path, method: :post, remote: true do %>
      ♡<%= review.likes.count %>
    <% end %>
    </p>
  <% end %>