<%= link_to "戻る",reviews_path %>
<table class="table table-bordered table-condensed">
          <tbody>
            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>投稿日時</td>
                  <td class="info border border-dark table-info">
                   <br/><!--年月日を記載-->
                  </td>
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>ニックネーム</td>
                  <td class="info border border-dark table-info">
                    <br/>
                  </td>
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>タイトル</td>
                  <td class="info border border-dark table-info">
                    
                  </td>
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>ジャンル</td>
                  <td class="info border border-dark table-info">
                    
                  </td>
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>評価</td><!--星での評価 javascriptで-->
                
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>レビュー</td>
                  <td class="info border border-dark table-info">
                  </td>
                </tr>
              </div>
            </div>

            <div class="form-grop row">
              <div class="col-form-label col-sm-3">
                <tr class="col-xs-5 border border-dark">
                  <td>いいね</td>
                    
                      
                    </td>
                </tr>
              </div>
            </div>
                    
            
          </tbody>
        </table>
